* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

@font-face {
  font-family: CoolVetica;
  src: url(assets/font/coolvetica/coolvetica\ rg.otf);
}
html {
  font-family: CoolVetica;
}

body {
  background-color: white;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

.header {
  color: white;
  background-color: #1768ac;
  grid-column: 1/-1;
  height: 50px;
  padding: 5px;
  text-align: center;
}

.sidebar {
  color: #03256c;
  background-color: #2541b2;
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 320px 35px 35px;
}
.sidebar .book-info {
  background-color: #06bee1;
  border-radius: 5px;
  padding: 10px;
  grid-column: 1/-1;
}
.sidebar :nth-child(4) {
  grid-column: 1/-1;
}
.sidebar button {
  background-color: #06bee1;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  border: 1px solid #03256c;
}
.sidebar button:hover {
  color: white;
  background-color: rgba(3, 37, 108, 0.5);
}

.content-container {
  background-color: #06bee1;
  display: grid;
  padding: 40px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 220px;
}
.content-container div {
  background-color: #1768ac;
  border: 2px solid #03256c;
  border-radius: 10px;
}

.manga-form {
  color: #06bee1;
  background-color: #1768ac;
  position: absolute;
  top: 30vh;
  justify-self: center;
  display: none;
  align-self: center;
  border: 2px solid #03256c;
  border-radius: 5px;
  padding: 10px;
}

.manga-form-appear {
  display: block;
}

.form-inputs {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30px;
  text-align: center;
}
.form-inputs :nth-child(1),
.form-inputs :nth-child(2),
.form-inputs :nth-child(3),
.form-inputs :nth-child(4) {
  grid-column: 1/-1;
}
.form-inputs :nth-child(1),
.form-inputs :nth-child(3),
.form-inputs :nth-child(5),
.form-inputs :nth-child(7) {
  align-self: end;
}
.form-inputs :nth-child(5) {
  grid-column: 1/2;
}
.form-inputs :nth-child(7) {
  grid-column: 2/3;
  grid-row: 5/6;
}
.form-inputs :nth-child(odd) {
  align-items: baseline;
}
.form-inputs :last-child {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-inputs :last-child button {
  width: 120px;
  height: 30px;
  background-color: #06bee1;
  border: 2px solid #03256c;
  border-radius: 7px;
}
.form-inputs :last-child button:hover {
  font-weight: bold;
  color: white;
  background-color: rgba(3, 37, 108, 0.5);
}
.form-inputs input {
  border-radius: 10px;
  padding-left: 10px;
}

.content-card {
  padding: 10px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}
.content-card h4 {
  grid-column: 1/-1;
}
.content-card button:first-of-type {
  grid-column: 1/3;
}
.content-card button:last-of-type {
  grid-column: 3/5;
}
.content-card button {
  background-color: #06bee1;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  border: 1px solid #03256c;
}
.content-card button:hover {
  color: white;
  background-color: rgba(3, 37, 108, 0.5);
}

/*# sourceMappingURL=style.css.map */
